<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<menuitem id="djbc_root" name="DJBC" web_icon="djbc,static/description/icon.png" sequence="1"/>
	<!--menuitem name="Rental Management" id="rental_management" web_icon="rental,static/description/icon.png"/-->

	<!--level 1-->
	<menuitem id="djbc_form" name="Form" parent="djbc_root" sequence="10"/>
	<menuitem id="djbc_laporan" name="Laporan" parent="djbc_root" sequence="20"/>
	<menuitem id="djbc_config" name="Config" parent="djbc_root" sequence="30"/>

	<!--level 2 Form-->
	<menuitem id="djbc_docs" name="DJBC Docs" parent="djbc_form" action="djbc_docs_action"/>
	<menuitem id="djbc_hscode" name="HS Code" parent="djbc_config" action="djbc_hscode_action"/>
	<menuitem id="djbc_categs" name="DJBC Categories" parent="djbc_config" action="djbc_categs_action"/>
	<menuitem id="djbc_doctype" name="DJBC Doc Type" parent="djbc_config" action="djbc_doctype_action"/>

	<!--menuitem id="djbc_refresh_pemasukan" name="Refresh Pemasukan" parent="djbc_laporan"
			  action="masuk_wizard_action" sequence="50"/>
	<menuitem id="djbc_refresh_pengeluaran" name="Refresh Pengeluaran" parent="djbc_laporan"
			  action="keluar_wizard_action" sequence="60"/-->

	<!--menuitem name="Test " action="action_make_testing" id="menu_test"
        	icon="STOCK_EXECUTE" parent="knowledge.menu_document_configuration"
        	sequence="135" /-->

</odoo>
