<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<!--level 2 Laporan KB-->
	<menuitem id="djbc_laporan_mutasi" name="Mutasi" parent="djbc.djbc_laporan"
			  action="mutasiwizard_action" sequence="10" groups="djbc.group_djbc_user"/>
	<!--menuitem id="djbc_laporan_mutasi_xls" name="Mutasi XLS" parent="djbc.djbc_laporan"
			  action="djbc.mutasi_xlsx" sequence="10"/-->

</odoo>
